@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.wrapper {
  min-width: 320px;
  max-width: 1920px;
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg-contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

body {
  background-color: #efe9dd;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #222220;
}

.icon-menu {
  position: fixed;
}
@media (max-width: 767.98px) {
  .icon-menu {
    display: block;
    position: relative;
    flex: 0 0 30px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 10;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.5s ease 0s;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #c1b081;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(55% - 1px);
    transform: scale(1) translate(0px, -55%);
  }
}

.menu-open .icon-menu::before {
  transform: rotate(-45deg);
  top: calc(50% - 1px);
  background-color: #fff;
}

.menu-open .icon-menu::after {
  transform: rotate(45deg);
  bottom: calc(50% - 1px);
  background-color: #fff;
}

.menu-open span {
  left: 50%;
  width: 0;
  background-color: #fff;
}

@media (max-width: 767.98px) {
  .menu {
    flex: 0 0 auto;
    display: flex;
    justify-content: flex-end;
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #c1b081;
    padding: 100px 15px 50px 15px;
    transition: left 0.5s ease 0s;
    overflow: auto;
    z-index: 10;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: -100%;
    height: 70px;
    background-color: #c1b081;
    transition: left 0.5s ease 0s;
    z-index: 4;
  }
}

.menu-open .menu__body {
  left: 0;
}
.menu-open .menu__body::before {
  left: 0;
}

.menu-open body {
  overflow: hidden;
}

.block-header {
  display: grid;
  gap: 1.25rem;
  justify-items: start;
  font-weight: 400;
  line-height: 1.5625;
}
.block-header--center {
  justify-items: center;
}
.block-header--white {
  color: #fff;
}
.block-header__label {
  text-transform: capitalize;
}
.block-header__title {
  font-family: "Italiana";
  font-size: 3rem;
  line-height: 1.2;
  text-transform: capitalize;
  color: #9d875c;
}
@media (max-width: 47.9988rem) {
  .block-header__title {
    font-size: 2.625rem;
  }
}
.block-header__text {
  display: grid;
  gap: 1.25rem;
}
.block-header__text blockquote {
  font-style: italic;
}
.button {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  border-radius: 3.125rem;
  padding: 0.625rem 2.5rem;
  font-weight: 300;
  line-height: 1.5625;
  background-color: #fff;
}
.button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
  transition: opacity 0.5s;
  background: url("../images/bg-button.png") center no-repeat;
}
.button span {
  position: relative;
}
.button:hover {
  color: #222220;
}
.button:hover::before {
  opacity: 1;
}
.button--border {
  transition: all 0.5s;
  background-color: transparent;
  border: 0.0625rem solid #c1ab81;
  color: #c1ab81;
}
.button--border::before {
  opacity: 0;
}
.button--border:hover {
  border: 0.0625rem solid transparent;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}
.header__container {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: 1fr auto 1fr;
  min-height: 9.5rem;
  align-items: center;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}
@media (max-width: 61.9988rem) {
  .header__container {
    min-height: 6.25rem;
    background-color: rgba(0, 0, 0, 0.6);
  }
}
@media (max-width: 47.9988rem) {
  .header__container {
    min-height: 4.375rem;
    gap: 0;
    grid-template-columns: auto 1fr auto auto;
  }
}
.header__logo {
  width: 13.5625rem;
  position: relative;
  z-index: 10;
}
@media (max-width: 61.9988rem) {
  .header__logo {
    width: 11.25rem;
  }
}
@media (max-width: 47.9988rem) {
  .header__logo {
    width: 8.125rem;
  }
  .menu-open .header__logo path {
    fill: #fff;
  }
}
@media (max-width: 29.9988rem) {
  .header__logo {
    width: 6.25rem;
  }
}
@media (max-width: 47.9988rem) {
  .menu__body {
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 1.875rem;
  }
}
.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: 2.9375rem;
       column-gap: 2.9375rem;
  row-gap: 0.3125rem;
}
@media (max-width: 61.9988rem) {
  .menu__list {
    -moz-column-gap: 1.25rem;
         column-gap: 1.25rem;
  }
}
@media (max-width: 47.9988rem) {
  .menu__list {
    flex-direction: column;
    row-gap: 1.25rem;
  }
}
.menu__link {
  display: inline-block;
  font-weight: 300;
  line-height: 1.5625;
  color: #c1b081;
  transition: color 0.5s;
}
@media (max-width: 47.9988rem) {
  .menu__link {
    color: #fff;
    font-size: 1.75rem;
  }
}
.menu__link:hover {
  text-decoration: underline;
}
.menu a {
  color: #c1b081;
}
@media (max-width: 47.9988rem) {
  .menu a {
    color: #fff;
  }
}

.action-header {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  -moz-column-gap: 2.9375rem;
       column-gap: 2.9375rem;
  row-gap: 0.3125rem;
}
@media (max-width: 61.9988rem) {
  .action-header {
    -moz-column-gap: 1.25rem;
         column-gap: 1.25rem;
  }
}
@media (max-width: 47.9988rem) {
  .action-header {
    display: none;
  }
}
.action-header--hide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  -moz-column-gap: 2.9375rem;
       column-gap: 2.9375rem;
  row-gap: 0.3125rem;
  font-weight: 300;
  line-height: 1.5625;
  font-size: 1.75rem;
}
.action-header--hide a {
  color: #fff;
}
@media (min-width: 47.9988rem) {
  .action-header--hide {
    display: none;
  }
}
.action-header__link {
  display: inline-block;
  font-weight: 300;
  line-height: 1.5625;
  color: #c1b081;
  transition: color 0.5s;
}
.action-header__link:hover {
  text-decoration: underline;
}
.action-header a {
  color: #c1b081;
}
.action-header__button {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 61.9988rem) {
  .action-header__button {
    padding: 0.5rem 1.25rem;
  }
}
@media (max-width: 47.9988rem) {
  .action-header__button {
    border: 1px solid #fff;
    color: #fff;
  }
}

.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.hero__container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 72%;
  gap: 1.875rem;
  padding-top: 9.375rem;
  padding-bottom: 3.125rem;
  flex-grow: 1;
  position: relative;
  z-index: 2;
}
@media (max-width: 75rem) {
  .hero__container {
    grid-template-columns: auto;
  }
}
.hero__content {
  position: relative;
  z-index: 3;
}
@media (min-width: 75rem) {
  .hero__content {
    margin-right: -55%;
  }
}
@media (max-width: 75rem) {
  .hero__content {
    text-align: center;
  }
}
.hero__title {
  font-family: "Italiana";
  font-size: 6.25rem;
  text-transform: capitalize;
  color: #c1ab81;
}
.hero__title:not(:last-child) {
  margin-bottom: 2.1875rem;
}
@media (max-width: 85.375rem) {
  .hero__title {
    font-size: 5rem;
  }
}
@media (max-width: 61.9988rem) {
  .hero__title {
    font-size: 3.125rem;
  }
  .hero__title:not(:last-child) {
    margin-bottom: 0.9375rem;
  }
}
@media (max-width: 47.9988rem) {
  .hero__title {
    font-size: 2.625rem;
  }
}
.hero a {
  color: #c1ab81;
}
.hero__slider.swiper {
  position: relative;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  z-index: 2;
}
.hero__controll {
  display: flex;
  gap: 1.875rem;
  position: absolute;
  bottom: 1.875rem;
  right: 0.9375rem;
  z-index: 4;
}
@media (max-width: 75rem) {
  .hero__controll {
    width: 100%;
    justify-content: center;
    right: 0;
  }
}
.hero__arrow {
  color: #c1ab81;
  font-size: 1rem;
  transition: transform 0.5s;
}
.hero__arrow--left {
  transform: rotate(-180deg);
}
.hero__arrow--left:hover {
  transform: rotate(-180deg) scale(1.2);
}
.hero__arrow--right:hover {
  transform: scale(1.2);
}
.hero__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.hero__mini {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
  overflow: hidden;
  transform: translate(0, -30%);
  width: 100%;
}
.slide-hero {
  width: 55%;
}
.slide-hero__content {
  aspect-ratio: 1/1;
  border: 0.0625rem solid #c1ab81;
  border-radius: 50%;
  position: relative;
  flex: 1 1 auto;
  width: 100%;
  padding: 1.5625rem;
}
@media (max-width: 47.9988rem) {
  .slide-hero__content {
    padding: 0.9375rem;
  }
}
@media (max-width: 29.9988rem) {
  .slide-hero__content {
    padding: 0.625rem;
  }
}
.slide-hero__body {
  background: linear-gradient(90deg, rgba(50, 45, 39, 0.8043592437) 0%, rgb(40, 34, 26) 44%, rgb(6, 5, 2) 100%);
  border-radius: 50%;
  aspect-ratio: 1/1;
  overflow: hidden;
  width: 100%;
  position: relative;
}
.slide-hero__top-image {
  width: 100%;
  height: 50%;
  overflow: hidden;
  margin-top: -110%;
  aspect-ratio: 1/1;
}
.slide-hero__top-image img {
  max-width: 100%;
}
.slide-hero__image {
  width: 100%;
  margin-top: -10%;
}

.about-us {
  position: relative;
  padding-top: 7.5rem;
  padding-bottom: 5rem;
}
.about-us::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.1;
  background: url("../images/about/bg.png") 0 0 no-repeat;
}
@media (max-width: 61.9988rem) {
  .about-us {
    padding-top: 6.25rem;
  }
}
@media (max-width: 47.9988rem) {
  .about-us {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }
}
@media (max-width: 29.9988rem) {
  .about-us {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }
}
.about-us__container {
  position: relative;
}
.about-us__body {
  display: flex;
  gap: 8.375rem;
  align-items: center;
}
.about-us__body:not(:last-child) {
  margin-bottom: 6.125rem;
}
@media (max-width: 61.9988rem) {
  .about-us__body:not(:last-child) {
    margin-bottom: 3.75rem;
  }
}
@media (max-width: 47.9988rem) {
  .about-us__body:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
@media (max-width: 61.9988rem) {
  .about-us__body {
    flex-direction: column-reverse;
    gap: 6.25rem;
  }
}
@media (max-width: 47.9988rem) {
  .about-us__body {
    gap: 3.125rem;
  }
}
@media (max-width: 29.9988rem) {
  .about-us__body {
    gap: 1.875rem;
  }
}
.about-us__image {
  flex: 0 0 51.25%;
  padding: 1.1875rem;
  border: 0.0625rem solid #9d875c;
}
@media (max-width: 47.9988rem) {
  .about-us__image {
    padding: 0.625rem;
  }
}
.about-us__image img {
  max-width: 100%;
}
.about-us__content {
  flex: 1 1 auto;
}
.services-about-us {
  display: flex;
  flex-wrap: wrap;
  max-width: 63.875rem;
  gap: 1.875rem;
  margin: 0 auto;
  text-align: center;
  justify-content: space-between;
}
@media (max-width: 38.125rem) {
  .services-about-us {
    justify-content: center;
  }
}
.services-about-us__item {
  display: grid;
  justify-items: center;
  gap: 1.875rem;
}
.services-about-us__icon {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  width: 8.75rem;
  height: 8.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  padding: 1.25rem;
}
.services-about-us__icon::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
  transition: opacity 0.5s;
  background: url("../images/bg-button.jpg") center/cover no-repeat;
}
.services-about-us__icon img {
  position: relative;
  max-width: 100%;
}
.services-about-us__label {
  font-family: "Italiana", sans-serif;
  text-transform: capitalize;
  font-size: 1.5rem;
}

.products {
  padding-top: 5rem;
  padding-bottom: 7.5rem;
}
@media (max-width: 61.9988rem) {
  .products {
    padding-bottom: 6.25rem;
  }
}
@media (max-width: 47.9988rem) {
  .products {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }
}
@media (max-width: 29.9988rem) {
  .products {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }
}
.products__container {
  display: grid;
}
.products__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(21.875rem, 1fr));
  gap: 3.3125rem;
}
@media (max-width: 61.9988rem) {
  .products__items {
    gap: 1.875rem;
  }
}
@media (max-width: 47.9988rem) {
  .products__items {
    gap: 1.25rem;
  }
}
@media (max-width: 29.9988rem) {
  .products__items {
    grid-template-columns: repeat(auto-fill, minmax(17.5rem, 1fr));
  }
}
.products__items:not(:last-child) {
  margin-bottom: 3.375rem;
}
@media (max-width: 47.9988rem) {
  .products__items:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}
.products__button {
  justify-self: center;
}

.products-block-header {
  text-align: center;
  max-width: 28.75rem;
  margin: 0 auto;
  margin-bottom: 3rem;
}
@media (max-width: 61.9988rem) {
  .products-block-header {
    margin-bottom: 1.875rem;
  }
}
@media (max-width: 47.9988rem) {
  .products-block-header {
    margin-bottom: 1.5625rem;
  }
}

.item-product__header {
  border: 0.0625rem solid #9d875c;
  position: relative;
  padding: 2.5rem;
}
.item-product__header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
  transition: opacity 0.5s;
  background: url("../images/bg-button1.png") center/cover no-repeat;
}
.item-product__header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(60, 38, 12, 0.55);
  transition: opacity 0.5s;
}
@media (max-width: 61.9988rem) {
  .item-product__header::after {
    opacity: 1;
  }
}
.item-product__header:not(:last-child) {
  margin-bottom: 2.4375rem;
}
@media (max-width: 47.9988rem) {
  .item-product__header:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
.item-product__header:hover::after {
  opacity: 1;
}
.item-product__header:hover .item-product__add-to-cart {
  opacity: 1;
  visibility: visible;
}
.item-product__image-ibg-contain {
  aspect-ratio: 353/351;
}
.item-product__image-ibg-contain img {
  filter: drop-shadow(10px 10px 10px rgba(60, 38, 12, 0.35));
}
.item-product__add-to-cart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  z-index: 2;
}
@media (max-width: 61.9988rem) {
  .item-product__add-to-cart {
    top: auto;
    transform: translate(-50%, 0);
    bottom: 1.25rem;
    opacity: 1;
    visibility: visible;
    white-space: nowrap;
  }
}
.item-product__body {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 0.625rem;
  justify-content: space-between;
}
.item-product__title {
  font-family: "Italiana", sans-serif;
  text-transform: capitalize;
  font-size: 1.5rem;
  line-height: 1.2;
}
.item-product__link-title:hover {
  text-decoration: underline;
}
.item-product__price {
  font-size: 1.5rem;
}
.item-product__rating {
  grid-column: span 2;
}

.rating {
  display: flex;
  gap: 0.625rem;
}
.rating__item {
  background: url("../images/products/icons/star.svg") 0 0 no-repeat;
  aspect-ratio: 1/1;
  flex: 0 0 1.625rem;
}
.rating__item--active {
  background: url("../images/products/icons/star-fill.svg") 0 0 no-repeat;
}

.services {
  background-color: #222220;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
  position: relative;
}
.services::before {
  content: "";
  background: url("../images/services/services-bg.svg") top right/100% no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}
@media (min-width: 61.9988rem) {
  .services::after {
    content: "";
    position: absolute;
    width: 41%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #9d875c;
  }
}
@media (max-width: 61.9988rem) {
  .services {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
  }
}
@media (max-width: 47.9988rem) {
  .services {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }
}
@media (max-width: 29.9988rem) {
  .services {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }
}
.services__container {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: flex-start;
}
@media (max-width: 61.9988rem) {
  .services__container {
    flex-direction: column-reverse;
    gap: 1.875rem;
  }
}
.services__image {
  flex: 0 1 50%;
  padding: 0.9375rem;
  border: 0.0625rem solid #fff;
}
.services__image img {
  max-width: 100%;
}
@media (max-width: 61.9988rem) {
  .services__image {
    align-self: center;
    margin: 0;
  }
}
.services__block-header {
  flex: 0 1 50%;
  align-self: center;
}
@media (min-width: 61.9988rem) {
  .services__block-header {
    max-width: 28.75rem;
    margin-left: 10.5rem;
  }
}
.gallery {
  background-color: #efe9dd;
  padding-top: 5rem;
  padding-bottom: 7.5rem;
}
@media (max-width: 61.9988rem) {
  .gallery {
    padding-bottom: 6.25rem;
  }
}
@media (max-width: 47.9988rem) {
  .gallery {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }
}
@media (max-width: 29.9988rem) {
  .gallery {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }
}
.gallery__container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  row-gap: 6.25rem;
}
@media (max-width: 61.9988rem) {
  .gallery__container {
    row-gap: 5rem;
    grid-template-columns: auto;
  }
}
@media (max-width: 47.9988rem) {
  .gallery__container {
    row-gap: 3.75rem;
  }
}
@media (max-width: 29.9988rem) {
  .gallery__container {
    row-gap: 1.25rem;
  }
}
.gallery__item {
  width: 100%;
}
.gallery__item:nth-child(4n+1), .gallery__item:nth-child(4n) {
  width: 77.86%;
}
@media (max-width: 61.9988rem) {
  .gallery__item:nth-child(4n+1), .gallery__item:nth-child(4n) {
    width: 100%;
  }
}
@media (min-width: 61.9988rem) {
  .gallery__item:nth-child(4n) {
    justify-self: end;
  }
}
.gallery__link {
  font-family: "Italiana", sans-serif;
  font-size: 1.75rem;
  color: #9d875c;
}
@media (max-width: 61.9988rem) {
  .gallery__link {
    font-size: 1.5rem;
  }
}
@media (max-width: 47.9988rem) {
  .gallery__link {
    font-size: 1.25rem;
  }
}
.gallery__link--title {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  gap: 0.625rem;
}
.gallery__link--title span:hover {
  text-decoration: underline;
}
.gallery__link::before {
  margin-top: 0.3125rem;
  flex-shrink: 0;
}
.gallery__link img {
  transition: transform 0.5s;
  max-width: 100%;
}
.gallery__link img:hover {
  transform: scale(1.01);
}
.gallery__link img:not(:last-child) {
  margin-bottom: 3.25rem;
}
@media (max-width: 61.9988rem) {
  .gallery__link img:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}
@media (max-width: 47.9988rem) {
  .gallery__link img:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
.gallery__image {
  cursor: pointer;
}

.contacts {
  padding-top: 3.5625rem;
  padding-bottom: 4.375rem;
  position: relative;
}
@media (max-width: 61.9988rem) {
  .contacts {
    padding-bottom: 3.125rem;
  }
}
@media (max-width: 47.9988rem) {
  .contacts {
    padding-top: 1.875rem;
    padding-bottom: 0.9375rem;
  }
}
.contacts::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 8.75rem;
  top: 0;
  left: 0;
  background-color: #c1ab81;
}
@media (max-width: 61.9988rem) {
  .contacts::before {
    height: 6.25rem;
  }
}
@media (max-width: 47.9988rem) {
  .contacts::before {
    height: 3.125rem;
  }
}
.contacts__container {
  position: relative;
  z-index: 2;
  display: flex;
}
@media (max-width: 61.9988rem) {
  .contacts__container {
    flex-direction: column-reverse;
  }
}
.contacts__media {
  flex: 0 1 50%;
}
.contacts__block-header {
  flex: 0 1 50%;
  padding-top: 9.375rem;
  padding-bottom: 9.375rem;
}
@media (min-width: 61.9988rem) {
  .contacts__block-header {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
    align-self: center;
    padding-left: 10.5rem;
  }
}
@media (max-width: 61.9988rem) {
  .contacts__block-header {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
  }
}
@media (max-width: 47.9988rem) {
  .contacts__block-header {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
@media (max-width: 29.9988rem) {
  .contacts__block-header {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }
}

.media-contacts__images {
  display: grid;
}
.media-contacts__block-image {
  position: relative;
}
.media-contacts__block-image:last-child {
  justify-self: end;
  transform: translate(7.095047%, -10.27%); /* 53/747 */
}
@media (max-width: 29.9988rem) {
  .media-contacts__block-image:last-child {
    transform: translate(0, -10.27%);
  }
}
.media-contacts__image {
  filter: drop-shadow(10px 10px 10px rgba(60, 38, 12, 0.35));
  padding: 0.625rem;
  outline: 0.0625rem solid #c1ab81;
  max-width: 100%;
}
@media (max-width: 47.9988rem) {
  .media-contacts__image {
    padding: 0.3125rem;
  }
}
.media-contacts__play {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100%;
  left: -3%;
  transform: translate(0, -50%);
  width: 13.75rem;
  height: 13.75rem;
  z-index: 5;
  transition: transform 0.5s;
}
.media-contacts__play:hover span::before {
  opacity: 0.8;
}
@media (max-width: 61.9988rem) {
  .media-contacts__play {
    width: 9.375rem;
    height: 9.375rem;
  }
}
@media (max-width: 47.9988rem) {
  .media-contacts__play {
    width: 6.25rem;
    height: 6.25rem;
  }
}
.media-contacts__play::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 0.0625rem solid #c1ab81;
  -webkit-animation: play 2s infinite ease;
          animation: play 2s infinite ease;
}
.media-contacts__play::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.6875rem;
  z-index: 3;
}
@media (max-width: 61.9988rem) {
  .media-contacts__play::before {
    font-size: 1.75rem;
  }
}
@media (max-width: 47.9988rem) {
  .media-contacts__play::before {
    font-size: 1.5rem;
  }
}
.media-contacts__play span {
  position: relative;
  width: 85%;
  height: 85%;
  overflow: hidden;
  border-radius: 50%;
  background-color: #fff;
  z-index: 2;
}
.media-contacts__play span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
  transition: opacity 0.5s;
  background: url("../images/bg-button.png") center/cover no-repeat;
}
@-webkit-keyframes play {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes play {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.contacts-items {
  display: grid;
  gap: 1.875rem;
}
.contacts-items__item {
  line-height: 1.3;
  font-style: normal;
  padding-left: 2.1875rem;
  position: relative;
}
@media (max-width: 29.9988rem) {
  .contacts-items__item {
    padding: 2.1875rem 0 0 0;
  }
}
.contacts-items__item::before {
  position: absolute;
  left: 0;
  top: 0.3125rem;
  color: #9d875c;
}
.contacts-items__item li {
  font-size: 1.25rem;
}
@media (max-width: 29.9988rem) {
  .contacts-items__item li {
    font-size: 1rem;
  }
}
.contacts-items__item li:not(:last-child) {
  margin-bottom: 1.125rem;
}
.contacts-items__item a {
  transition: color 0.5s;
}
.contacts-items__item a:hover {
  color: #9d875c;
}

.reviews {
  padding-top: 6.25rem;
  padding-bottom: 7.5rem;
}
@media (max-width: 61.9988rem) {
  .reviews {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
  }
}
@media (max-width: 47.9988rem) {
  .reviews {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }
}
.reviews__container {
  position: relative;
}
.reviews__slide {
  display: grid;
  justify-items: center;
  text-align: center;
  gap: 3.125rem;
  padding-left: 11.875rem;
  padding-right: 11.875rem;
}
@media (max-width: 61.9988rem) {
  .reviews__slide {
    padding-left: 7.5rem;
    padding-right: 7.5rem;
  }
}
@media (max-width: 47.9988rem) {
  .reviews__slide {
    padding-left: 0;
    padding-right: 0;
    gap: 1.875rem;
  }
}
.reviews__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  background-color: #fff;
  width: 8.75rem;
  height: 8.75rem;
  z-index: 2;
}
.reviews__icon::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
  transition: opacity 0.5s;
  background: url("../images/bg-button.png") center/cover no-repeat;
}
.reviews__icon img {
  position: relative;
  z-index: 2;
  max-width: 4.375rem;
}
.reviews__text {
  font-size: 1.875rem;
  line-height: 1.66667;
}
.reviews__text:not(:last-child) {
  margin-bottom: 3.125rem;
}
@media (max-width: 47.9988rem) {
  .reviews__text:not(:last-child) {
    margin-bottom: 0.9375rem;
  }
}
.reviews__text p:not(:last-child) {
  margin-bottom: 0.9375rem;
}
@media (max-width: 61.9988rem) {
  .reviews__text {
    font-size: 1.75rem;
  }
}
@media (max-width: 47.9988rem) {
  .reviews__text {
    font-size: 1.5rem;
  }
}
@media (max-width: 29.9988rem) {
  .reviews__text {
    font-size: 1.125rem;
  }
}
.reviews__author {
  font-family: "Italiana", sans-serif;
  font-style: normal;
  font-size: 3rem;
  text-transform: capitalize;
  color: #9d875c;
}
@media (max-width: 61.9988rem) {
  .reviews__author {
    font-size: 2rem;
  }
}
.reviews__arrow {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  font-size: 2.0625rem;
  color: #9d875c;
  top: 14.6875rem;
  position: absolute;
  z-index: 5;
  transition: color 0.5s;
}
@media (max-width: 61.9988rem) {
  .reviews__arrow {
    font-size: 1.875rem;
  }
}
@media (max-width: 47.9988rem) {
  .reviews__arrow {
    top: 3.75rem;
    font-size: 1.75rem;
  }
}
@media (max-width: 29.9988rem) {
  .reviews__arrow {
    font-size: 1.5rem;
  }
}
.reviews__arrow:hover {
  color: #222220;
}
.reviews__arrow--prev {
  left: 0;
  transform: rotate(-180deg);
}
.reviews__arrow--next {
  right: 0;
}

.footer {
  color: #c1ab81;
  position: relative;
  background-color: #222220;
  padding: 0;
}
.footer::before, .footer::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 10.875rem;
}
@media (max-width: 102.5rem) {
  .footer::before, .footer::after {
    opacity: 0.1;
  }
}
.footer::before {
  content: "";
  left: 0;
  bottom: 0;
  background: url("../images/bg-footer-left.svg") left bottom/100% no-repeat;
}
.footer::after {
  content: "";
  right: 0;
  top: 0;
  transform: rotate(-180deg);
  background: url("../images/bg-footer-left.svg") left bottom/100% no-repeat;
}
.footer__container {
  position: relative;
  z-index: 5;
}
.footer__body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 5.75rem;
  padding-bottom: 2.8125rem;
}
@media (max-width: 61.9988rem) {
  .footer__body {
    padding-top: 3.125rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 47.9988rem) {
  .footer__body {
    grid-template-columns: auto;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }
}
.footer__content {
  padding-right: 2.5rem;
}
@media (min-width: 61.9988rem) {
  .footer__content {
    border-right: 0.0625rem solid #c1ab81;
  }
}
@media (max-width: 61.9988rem) {
  .footer__content {
    padding-right: 1.875rem;
    order: 2;
  }
}
@media (max-width: 47.9988rem) {
  .footer__content {
    padding-right: 0.9375rem;
    order: 3;
  }
}
.footer__menu:not(:last-child) {
  margin-bottom: 2.5rem;
}
@media (max-width: 47.9988rem) {
  .footer__menu:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
.footer__logo {
  align-self: center;
  justify-self: center;
  width: 17.9375rem;
}
@media (max-width: 61.9988rem) {
  .footer__logo {
    width: 11.25rem;
    order: 1;
    grid-column: span 2;
  }
  .footer__logo:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 61.9988rem) and (max-width: 47.9988rem) {
  .footer__logo:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}
@media (max-width: 47.9988rem) {
  .footer__logo {
    width: 9.375rem;
    grid-column: span 1;
  }
}
@media (max-width: 61.9988rem) {
  .footer__subscribe {
    order: 3;
  }
}
@media (max-width: 47.9988rem) {
  .footer__subscribe {
    order: 2;
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 29.9988rem) {
  .footer__subscribe {
    margin-bottom: 1.875rem;
  }
}
.footer__copy {
  border-top: 0.0625rem solid #c1ab81;
  text-align: center;
  line-height: 1.875;
  padding-top: 2.625rem;
  padding-bottom: 2.625rem;
}
@media (max-width: 61.9988rem) {
  .footer__copy {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }
}
@media (max-width: 47.9988rem) {
  .footer__copy {
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
  }
}

.menu-footer__title {
  list-style: none;
  font-family: "Italiana";
  font-size: 1.25rem;
  text-transform: capitalize;
}
.menu-footer__title:not(:last-child) {
  margin-bottom: 0.9375rem;
}
._init .menu-footer__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
  cursor: pointer;
  position: relative;
  width: 100%;
}
._init .menu-footer__title::before, ._init .menu-footer__title::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  height: 0.125rem;
  width: 0.625rem;
  transition: transform 0.5s ease 0s;
  background-color: #c1ab81;
}
._init .menu-footer__title::before {
  transform: translate(-75%, -50%) rotate(40deg);
}
._init .menu-footer__title::after {
  transform: translate(0, -50%) rotate(-40deg);
}
._init .menu-footer__title._active {
  color: #c1ab81;
}
._init .menu-footer__title._active::before {
  background-color: #c1ab81;
  transform: translateX(-75%) rotate(-40deg);
}
._init .menu-footer__title._active::after {
  background-color: #c1ab81;
  transform: rotate(40deg);
}
@media (min-width: 47.9988rem) {
  .menu-footer__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.3125rem;
    -moz-column-gap: 2.625rem;
         column-gap: 2.625rem;
  }
}
.menu-footer__link {
  display: inline-block;
  font-weight: 300;
  line-height: 1.56;
  transition: color 0.5s;
}
.menu-footer__link:hover {
  color: #fff;
}

.social {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 2.5625rem;
       column-gap: 2.5625rem;
  row-gap: 0.3125rem;
}
@media (max-width: 61.9988rem) {
  .social {
    -moz-column-gap: 1.875rem;
         column-gap: 1.875rem;
  }
}
@media (max-width: 47.9988rem) {
  .social {
    -moz-column-gap: 0.9375rem;
         column-gap: 0.9375rem;
    justify-content: space-between;
    margin-top: 1.875rem;
  }
}
.social__item {
  font-size: 1.5rem;
  transition: color 0.5s;
}
.social__item:hover {
  color: #fff;
}

.subscribe {
  padding-left: 2.5rem;
}
@media (min-width: 61.9988rem) {
  .subscribe {
    border-left: 0.0625rem solid #c1ab81;
    display: grid;
    justify-items: end;
  }
}
@media (max-width: 61.9988rem) {
  .subscribe {
    padding-left: 1.875rem;
  }
}
@media (max-width: 47.9988rem) {
  .subscribe {
    padding-left: 0;
  }
}
@media (min-width: 61.9988rem) {
  .subscribe__body {
    max-width: 21.875rem;
  }
}
.subscribe__title {
  font-family: "Italiana";
  font-size: 2rem;
  line-height: 1.2;
  text-transform: capitalize;
}
@media (max-width: 47.9988rem) {
  .subscribe__title {
    font-size: 1.75rem;
  }
}
@media (max-width: 29.9988rem) {
  .subscribe__title {
    font-size: 1.125rem;
  }
}
.subscribe__title:not(:last-child) {
  margin-bottom: 1.5625rem;
}
@media (max-width: 29.9988rem) {
  .subscribe__title:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}
.subscribe__form {
  display: flex;
  height: 2.5rem;
  border-bottom: 0.0625rem solid hsla(38deg, 34%, 64%, 0.2);
}
.subscribe__input {
  flex: 1 1 auto;
  background-color: transparent;
  border-radius: 0 !important;
  width: 100%;
  display: block;
  color: #c1ab81;
}
.subscribe__input::-moz-placeholder {
  padding-left: 0.3125rem;
  color: #c1ab81;
}
.subscribe__input:-ms-input-placeholder {
  padding-left: 0.3125rem;
  color: #c1ab81;
}
.subscribe__input::placeholder {
  padding-left: 0.3125rem;
  color: #c1ab81;
}
.subscribe__button {
  transition: color 0.5s;
}
.subscribe__button:hover {
  color: #fff;
}

.up {
  transform: rotate(-90deg);
  font-size: 1.25rem;
  position: fixed;
  bottom: 1.875rem;
  right: 0.625rem;
  z-index: 50;
}
@media (max-width: 47.9988rem) {
  .up {
    display: none;
  }
}

.input {
  transition: box-shadow 0.5s ease 0s;
}

.input:focus {
  box-shadow: 0 0 15px #c1ab81;
}

.input._error {
  box-shadow: 0 0 15px rgb(226, 17, 17);
}